<ion-view title="Savings Calculator">
  <ion-nav-buttons side="left">
    <button menu-toggle="left"class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header calculator">

    <img ng-show="spinner" src="/img/spinner.gif"></img>

    <div ng-show="showZip && !spinner" class="card">
      <zip-entry></zip-entry>
    </div>

    <li ng-show="!showZip && !spinner" class="item">
      <slide-calculator></slide-calculator>
    </li>

  </ion-content>
</ion-view>
