<ion-view title="Guides">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>

      <a ng-repeat="guide in guides" class="item item-avatar fx-fade-right-big fx-speed-800 " href="#/app/guides/{{guide.id}}">
        <img class="list-icon" ng-show="guide.hasRead" src="img/sun.png">
        <img class="list-icon" ng-hide="guide.hasRead" src="img/rain.png">
        <h2>{{guide.title}}</h2>
        <p ng-hide="guide.hasRead">To Do: Read me!</p>
        <p ng-show="guide.hasRead">Complete!</p>
      </a>

    </ion-list>
  </ion-content>
</ion-view>
