<ion-view title="Search">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header home">

    <div class="row">

      <div class="col">
        <div><i class="icon ion-android-storage"></i></div>
        <a nav-clear href="#/app/guides">Guides</a>
      </div>

      <div class="col">
        <div><i class="icon ion-calculator"></i></div>
        <a nav-clear href="#/app/browse">Calculator</a>
      </div>

    </div>

    <div class="row">

      <div class="col">
        <div><i class="icon ion-ios7-flag-outline"></i></div>
        <a ng-click="login()">Get More Info</a>
      </div>


      <div class="col">
        <div><i class="icon ion-social-usd"></i></div>
        <a nav-clear href="#/app/browse">Other Function</a>
      </div>
    </div>

  </ion-content>
</ion-view>
