<ion-view title="Search">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

    <div class="row">
      <a nav-clear href="#/app/guides" class="col">Guides</a>
    </div>


    <div class="row">
      <a nav-clear href="#/app/browse" class="col">Calculator</a>
    </div>

    <div class="row">
      <div ng-click="login()" class="col">Get More Info</div>
    </div>

  </ion-content>
</ion-view>
