<ion-view title="Studies">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list>

      <div ng-repeat="study in studies" class="list card">

        <div class="item item-avatar">
          <img src="avatar.jpg">
          <h2>{{study.title}}</h2>
          <p></p>
        </div>

        <div class="item item-image">
          <img src="cover.jpg">
        </div>

        <a class="item assertive" href="#/app/studies/{{study.id}}">
          Start listening
        </a>

      </div>


    </ion-list>
  </ion-content>
</ion-view>
