<ion-view title="Studies">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <ion-list class="case-studies-wrapper">

      <div ng-repeat="study in studies" class="list card">

        <div class="item item-avatar">
          <img src="avatar.jpg">
          <h2>{{study.title}}</h2>
          <p></p>
        </div>

        <div class="item item-image">
          <img src="cover.jpg">
        </div>

        <a class="item assertive link" href="#/app/studies/{{study.id}}">
          <div class="link-wrapper">
            Read More
            <i class="icon ion-arrow-right-c"></i>
          </div>
        </a>
      </div>

    </ion-list>
  </ion-content>
</ion-view>
