.menu-content {
  -webkit-box-shadow: -16px -1px 15px 0px rgba(50, 50, 50, 0.69);
  -moz-box-shadow:    -16px -1px 15px 0px rgba(50, 50, 50, 0.69);
  box-shadow:         -16px -1px 15px 0px rgba(50, 50, 50, 0.69);
}


.list-icon {
  position: absolute;
  top: 16px;
  left: 16px;
  max-width: 40px;
  max-height: 40px;
  width: 100%;
  border-radius: 4px;
}

.calculator {
  .center {
    text-align: center;
  }

  .monthly-currency {
    text-align: center;
  }

  .system-size-large {
    text-align: center;
    font-size: 50px;
  }

  .benefit {
    display: block;
  }

  .location-wrapper {
    position: relative;
  }

  .location-change {
    float: right;
    font-size: 11px;
    bottom: 5%;
    right: 5%;
    position: absolute;
  }
}

.spinner {
  margin-left: 35%;
  width: 30%;
  margin-top: 20%;
}
