<h2>Current Monthly Electric Bill</h2>
<div class="range">
  <i class="icon ion-social-usd-outline"></i>
  <input type="range" ng-model="monthlyPayment" min="0" step="5" max="500">
  <i class="icon ion-social-usd"></i>
</div>
<div class="monthly-currency" ng-class="{green: true}">
  {{monthlyPayment}} $/Month
</div>

<div class="list card">
  <img class="list-icon" src="img/sun.png">
  <div class="item item-avatar">
    <img src="img/sun.png">
    <h2>{{data.address.city}}</h2>
    <p>{{data.address.state}}</p>
  </div>

  <div class="item item-body">
    <h2 class="system-size-large">
      {{data.idealSystemSize}} kw
    </h2>
    <p class="center">
      Ideal System Size
    </p>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item benefit" href="#">
      <i class="icon ion-social-usd"></i>
      {{data.lifeTimeValue | number: 0}} Lifetime Value
    </a>
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <a class="tab-item benefit" href="#">
      <i class="icon ion-flash"></i>
      {{data.monthlyProduction | number: 0}} kWh per Month
    </a>
  </div>

</div>
