<div class="item item-divider">
  Ok, lets get started!
</div>
<div class="item item-text-wrap">
  To figure out how energy your solar system will produce,
  we need to know where it will be installed.  Please
  enter your zip code below.
</div>
<div class="item item-divider">
  <h2>Zip Code</h2>
  <div class="monthly-currency" ng-class="{green: true}">
    <form name="zipForm">
      <label class="item item-input">
        <input
          type="text"
          name="zip"
          ng-model="locationData.zip"
          placeholder="93401"
          ng-required="true"
          ng-minlength="5"
          ng-maxlength="5"
          ng-pattern="/(^\d{5}$)|(^\d{5}-\d{4}$)/"
        >
      </label>

      <button
        ng-click="submitZip()"
        class="button button-full button-positive"
        ng-class="{disabled: !zipForm.zip.$valid}"
      >
        Go
      </button>
    </form>
  </div>
</div>
