.menu-content {
  -webkit-box-shadow: -16px -1px 15px 0px rgba(50, 50, 50, 0.69);
  -moz-box-shadow: -16px -1px 15px 0px rgba(50, 50, 50, 0.69);
  box-shadow: -16px -1px 15px 0px rgba(50, 50, 50, 0.69); }
